<footer class="footer">
    <div class="region region-footer well well-lg container">
    <section class="block block-multiblock clearfix" id="block-multiblock-2">
  <form action="http://catalog.data.ug/dataset" class="search-form form-inline" method="get" role="search">
  <div class="input-group">
    <input type="search" placeholder="Agriculture" class="search-field form-control" name="q" value="" data-strings="{&quot;targets&quot;:[&quot;Agriculture&quot;,&quot;Fishing&quot;,&quot;Housing&quot;]}" title="Example searches: Agriculture,Fishing,Housing" id="search-footer">
    <input type="hidden" value="score desc, name asc" name="sort">
      <span class="input-group-btn">
      <button class="search-submit btn btn-default" type="submit">
           <i class="fa fa-search"></i>
           <span class="sr-only">Search</span>
       </button>
    </span>
  </div>
</form>
</section> <!-- /.block -->
<section class="block block-system block-menu clearfix" id="block-system-main-menu">

      
  <ul class="menu nav"><li class="first leaf"><a href="http://www.data.ug/">Home</a></li>
<li class="leaf"><a title="Datasets for Data.Ug" href="http://catalog.data.ug">Datasets</a></li>
<li class="leaf"><a title="Datasets for Data.Ug" href="http://maps.data.ug">Maps</a></li>


<!--
<li class="expanded dropdown"><a data-toggle="dropdown" class="dropdown-toggle" data-target="#" title="Maps on Data.Ug" href="http://maps.data.ug">Maps <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a title="Map layers about Uganda" href="http://maps.data.ug">Layers</a></li>
<li class="last leaf"><a title="Map Publishers" href="http://maps.data.ug/people">People</a></li>
</ul></li>

-->

<!--
<li class="leaf active-trail active"><a class="active-trail active" title="All documentation about Data.Ug" href="http://www.data.ug/book">Documentation</a></li> 
-->
<li class="last leaf"><a title="News Items" href="http://www.data.ug/blog">News
</a></li>
</ul>

</section> <!-- /.block -->
<section class="block block-menu clearfix" id="block-menu-menu-content">
{% if c.controller == "home" %}
 
	<a class="twitter-timeline" data-width="100%" data-height="250" href="https://twitter.com/datadotug">Tweets by datadotug</a> 
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8">
	</script>
{% endif %}      

<!--
  <li class="last leaf"><a title="Login to CKAN" href="http://catalog.data.ug/user/login">Login</a></li>
-->

</section> <!-- /.block -->
<section class="block block-menu clearfix" id="block-menu-menu-social-media">

      
  <ul class="menu nav">

<li class="first leaf"><a title="Follow us on Facebook" href="https://www.facebook.com/datadotug"> <span class="fa fa-facebook fa-lg"></span>&nbsp;Facebook</a></li>
<li class="last leaf"><a title="Follow us on Twitter" href="http://www.twitter.com/datadotug"><span class="fa fa-twitter fa-lg"></span>&nbsp;Twitter</a></li>
</ul>
</section> <!-- /.block -->
<section class="block block-system clearfix" id="block-system-powered-by">

      
  <span>Powered by <a href="http://www.ckan.org">CKAN</a></span>
</section> <!-- /.block -->


  </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.data.ug"]);
  _paq.push(["setDomains", ["*.data.ug","*.catalog.data.ug","*.maps.data.ug"]]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.mountbatten.net/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "23"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<!-- Piwik Image Tracker -->
<img src="http://piwik.mountbatten.net/piwik.php?idsite=23&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
<!-- End Piwik Code -->


